
button {
    text-align: center;
    cursor: pointer;
    background-color: var(--button-cancel-color);
    border-radius: 2px;
    border: 1px solid var(--button-border-color);
}
button[type=submit] {
    background-color: var(--button-action-color);
}


