
* {
    color: var(--global-color-text);
}

body {
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
}

main {
    justify-self: stretch;
}

header {
    color:  var(--global-color-background-contrast);
    background-color: var(--global-color-background);
    padding: 10px;
    border-bottom: solid 1px;
}
header a {
    text-align: center;
    text-decoration: none;
}

footer {
    color:  var(--global-color-background-contrast);
    background-color: var(--global-color-background);
    padding: 10px;
    border-top: solid 1px;
}

p {
    margin: 0px;
    padding: 0px;
}

.tui-border-on {
    border: 1px solid var(--global-color-border);
}

.tui-reading-normal-area {
    width: 70em;
}

.tui-reading-wide-margin {
   width: 20px;
}

.tui-align-left {
    text-align: left;
}

.tui-align-right {
    text-align: right;
}

.tui-align-center {
    text-align: center;
}

.tui-align-stretch {
    text-align: justify;
}

/* TABS */

.tui-tabnav {
    display: flex;
    justify-content: left;
    align-items: center;
}
.tui-tablink {
    font-size: 1em;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    background: none;
    border-radius: 0px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid var(--global-color-border);
}
.tui-tablink-active {
    border-bottom: 3px solid var(--global-color-action);
}

/* LAYOUTS */

.tui-vertical-spacing-fit {
    padding-top: 0px;
}
.tui-vertical-spacing-compact {
    padding-top: 10px;
}
.tui-vertical-spacing-normal {
    padding-top: 20px;
}
.tui-vertical-spacing-large {
    padding-top: 30px;
}

.tui-horizontal-spacing-fit {
    padding-right: 0px;
}
.tui-horizontal-spacing-compact {
    padding-right: 10px;
}
.tui-horizontal-spacing-normal {
    padding-right: 20px;
}
.tui-horizontal-spacing-large {
    padding-right: 30px;
}

.tui-grid {
    display: grid;
    margin: 0px;
    padding: 0px;
    justify-items: stretch;
}

.tui-vertical-scroll {
    overflow-y: auto;
}

/* FORM */

form {
    margin: 10px 0px 10px 0px;
    width: 400px;
}
fieldset {
    border: 1px solid var(--global-color-border);
    background: var(--global-color-background);
    position: relative;
}
/* https://www.youtube.com/watch?v=ezP4kbOvs_E */
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.form-pending::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    background: linear-gradient(var(--angle), var(--global-color-background) 0%, var(--global-color-background) 50%, var(--global-color-action) 100%);
    animation: 1s spin linear infinite;
}
@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}
.tui-form-input {
    margin-top: 10px;
    text-align: left;
}
.tui-form-input>label {
    display: block;
    width: 100%;
    text-align: left;
    vertical-align: top;
}
.tui-form-input>input {
    width: 100%;
    padding-left: 15px;
    box-sizing: border-box;
}
.tui-form-input>.label-checkbox {
    display: inline;
    width: auto;
}
.tui-form-input>input[type='checkbox'] {
    display: inline;
    width: auto;
    text-align: left;
    margin-left: 15px;
}
.tui-form-input-invalid {
    border: 2px solid var(--global-color-red-state);
}
.modal {
    max-width: 50ch;
}
.modal::backdrop {
    background: var(--global-color-background-contrast);
    opacity: .5
}

/* BUTTON */

button {
    border-radius: 2px;
    padding: 5px 20px 5px 20px;
    text-align: center;
    cursor: pointer;
    background-color: var(--global-color-cancel);
    color: var(--global-color-cancel-contrast);
    border: 1px solid var(--global-color-border);
}
button[type=submit],.tui-modal-form-submit-button,.tui-modal-form-open-button {
    background-color: var(--global-color-action);
    color: var(--global-color-action-contrast);
}

/* MONITORING */

.tui-monitor-fieldset {
    border-radius: 2px;
    display: grid;
    border: 1px solid var(--global-color-border);
}
.tui-monitor-field {
}
.tui-monitor-field-label {
    display: inline-block;
    width: 150px;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
    margin: 2px;
}
.tui-monitor-field-value {
    display: inline-block;
    width: 80px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin: 1px;
    border: 1px solid var(--global-color-border);
}
.tui-monitor-field-value-neutral {
    background-color: var(--global-color-neutral-state);
    color: var(--global-color-neutral-state-contrast);
}
.tui-monitor-field-value-green {
    background-color: var(--global-color-green-state);
    color: var(--global-color-green-state-contrast);
}
.tui-monitor-field-value-red {
    background-color: var(--global-color-red-state);
    color: var(--global-color-red-state-contrast);
}

/* TABLE */

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 2px;
    border: 1px solid var(--global-color-border);
    margin: 10px 0px 10px 0px;
}
th, td {
    border: 1px solid var(--global-color-border);;
}
th {
    text-align: center;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
}
td {
    text-align: left;
    padding: 2px 10px 2px 10px;
    vertical-align: center;
}
.tui-hidden-column {
    display: none;
}
.tui-hidden-head {
    display: none;
}
tr:hover {
    background-color: var(--table-color-row-hover);
}
.tui-tablepicker td {
    cursor: pointer;
}
.tui-table-navigation {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* FETCH ERRORS */

.fetch-error {
    border: 2px solid var(--global-color-fetch-error);
}
.fetch-error-message {
    font-size: 0.7em;
    background-color: var(--global-color-fetch-error);
    color: var(--global-color-fetch-error-contrast);
}